/* Salem Mangum - Sep 3 2024 */

/* COLOR PALETTE: 
Dark green - 3c8453
Sandy beige - bcaa96
dark gray - 222222
light gray - d3d4d6
off-white - f6f6f6*/

body { 
    background-color: #f6f6f6;
    padding: 3%;
}

a { 
    color: #3c8453;
}

a:hover {
    color: #bcaa96;
    text-decoration: none;
}

.btn {
    background: #3c8453;
    color: #f6f6f6;
    text-decoration: none;
}

.home {
    background: url("../images/sharon-mccutcheon-unsplash.jpg") no-repeat;
    background-size: cover;
}

.home .content-wrapper { 
    background: rgb(255 255 255 / 0.9);
    padding: 3%;
}

footer { 
    background: #222222;
    color: #d3d4d6;
}

footer a {
    color: #bcaa96;
}

footer a:hover {
    color: #3c8453;
}

